.row.sitemap
  .span2#solutions
    .title SOLUTIONS
    %br
    = link_to "Electrical safety", solutions_electrical_safety_path
    = link_to "Power quality", solutions_power_quality_path
    = link_to "Energy management", solutions_energy_management_path
  .span2#products
    .title PRODUCTS
    %br
    = link_to "Algodue", products_algodue_path
    = link_to "Atlantic Scientific", products_atlantic_scientific_path
    = link_to "Bender", products_bender_path
    = link_to "CR Magnetics", products_cr_magnetics_path
    = link_to "Cybectec", products_cybectec_path
  .span2
    %br
    %br
    = link_to "Fluke", products_fluke_path
    = link_to "Infratec", products_infratec_path
    = link_to "Nokian Capacitors", products_nokian_capacitors_path
    = link_to "Qualitrol", products_qualitrol_path
    = link_to "Vectek", products_vectek_path
  .span2#services
    .title SERVICES
    %br
    = link_to "Engineering", services_engineering_path
    = link_to "Training", services_training_path
  .span2#company
    .title COMPANY
    %br
    = link_to "Your trusted partner",  company_your_trusted_partner_path
    = link_to "Our clientele",  company_our_clientele_path
    = link_to "Careers with us", company_careers_with_us_path
    = link_to "Contact us", company_contact_us_path
  .span2#contactus
    .title FEEL FREE TO CONTACT US
    %strong Phone:
    %br
    (+65) 6893-5796 or 
    %br
    (+65) 9818-9612
    %br
    %strong Enquiries:
    = mail_to "info@eetarp.com.sg"
    %br
    %strong Services:
    %br
    = mail_to "service@eetarp.com.sg"
.row.footer
  .span12
    Copyright ® 2007 Eetarp Engineering Pte Ltd. All rights reserved.
    %a.email.pull-right{:href => "http://www.eetarp.com.sg/cgi-bin/webmanager/webmail.cgi", :target => 'blank'}
      %i.icon-envelope.icon-white