.row.sitemap
  .span2#solutions
    .title SOLUTIONS
    %br
    = link_to "Electrical safety", "#"
    = link_to "Power quality", "#"
    = link_to "Energy management", "#"
  .span2#products
    .title PRODUCTS
    %br
    = link_to "Bender", "#"
    = link_to "Algodue", "#"
    = link_to "Atlantic Scientific", "#"
    = link_to "Cybectec", "#"
    = link_to "Fluke", "#"
  .span2
    %br
    %br
    = link_to "CR Magnetics", "#"
    = link_to "Vectec", "#"
    = link_to "Qualitrol", "#"
    = link_to "Nokian Capacitors", "#"
    = link_to "InfraTec", "#"
  .span2#services
    .title SERVICES
    %br
    = link_to "Engineering", "#"
    = link_to "Training", "#"
  .span2#company
    .title COMPANY
    %br
    = link_to "Your Trusted partner",  company_your_trusted_partner_path
    = link_to "Careers", company_careers_path
    = link_to "Contact us", company_contact_us_path
  .span2#contactus
    .title FEEL FREE TO CONTACT US
    %strong Phone:
    %br
    (+60) 6893-5796 or 
    %br
    (+60) 9818-9612
    %br
    %strong Enquiries:
    = mail_to "info@eetarp.com.sg"
    %br
    = mail_to "eetarp@singnet.com.sg"
    %br
    %strong Services:
    %br
    = mail_to "service@eetarp.com.sg"
.row.footer
  .span12
    Copyright ® 2007 Eetarp Engineering Pte Ltd.All rights reserved